.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* .site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  } */

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 400px;
}

.demo-loading-container {
  /* position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  height: 50%;
}

.ant-carousel .slick-slide img{
  width: 100%;
  height: 258px;
  object-fit: cover;
}
